/*=============== FOOTER SECTION ===============*/
.footer {
    background-color: var(--black-color);
    padding: 4rem 0 2.5rem;

    &__title {
        color: #fff;
        font-size: var(--h1-font-size);
        margin-bottom: 2rem;

        @include respond-to(lg) {
            font-size: var(--h2-font-size);   
        }
    }

    &__description {
        margin-bottom: .75rem;
    }

    &__newsletter {
        display: flex;
        column-gap: .5rem;

        @include respond-to(md) {
            width: 350px;
        }
    }

    &__input {
        border: none;
        outline: none;
        padding: 1.25rem 1rem;
        border-radius: .25rem;
        width: 70%;
        color: var(--text-color);
    }

    &__button {
        padding: .75rem;
        font-size: 2rem;
        border-radius: .25rem;
        display: inline-flex;
        background-color: var(--first-color);

        i {
            transform: rotate(-30deg);
            transition: .4s;
        }

        &:hover {
            i {
                transform: rotate(-30deg) translate(.25rem);
            }
        }
    }

    &__content {
        row-gap: 2.5rem;
        padding-bottom: 2.5rem;
        border-bottom: 1px solid var(--text-color);

        @include respond-to(mdlg) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        @include respond-to(lg) {
            grid-template-columns: repeat(4, max-content);   
            column-gap: 4rem;
            padding-bottom: 5.5rem;
        }
    }

    &__subtitle {
        color: #fff;
        font-size: var(--h2-font-size);
        margin-bottom: .75rem;
    }

    &__flag {
        width: 1rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;

        @include respond-to(lg) {
            margin-top: 3rem;
            flex-direction: row;
            justify-content: space-between;   
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        font-size: 1.25rem;
        margin-bottom: 2rem;

        @include respond-to(lg) {
            column-gap: 2rem;   
        }

        &-link {
            color: #fff;
            transition: .4s;

            &:hover {
                color: var(--first-color);
            }

            @include respond-to(lg) {
                font-size: 1.5rem;
            }
        }
    }

    &__copy {
        font-size: var(--smaller-font-size);
    }
}