/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include respond-to(xs) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    @include respond-to(lg) {
        margin-left: auto;
        margin-right: auto;
    }
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}
  
.section {
    padding: 4.5rem 0 2rem;

    @include respond-to(mdlg) {
        padding: 7rem 0 2rem;
    }
}